@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
header {
  background-color: #fff;
  padding: 10px 0;
  /*z-index: 99;
  position: fixed;*/
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.1);
}

.flex {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;

}


.logo img {
  margin-top: 20px;
  max-height: 50px;
  margin-right: auto;
  height: auto;
  width: 250px;
}

.nav-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-menu-list li {
  margin-left: 20px;
}

.nav-menu-list li a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: black; /* Set link color to black */
}

.nav-menu-list li a:hover {
  background-color: #137DC5;
  color: white;
  font-weight: 700;
}

/* Navbar toggle styles */
#nav-toggle:checked~nav {
  flex-direction: row;
}

.nav-toggle-label {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

#nav-toggle {
  display: none;
}

.hero-section {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
 /* Nav bar info pages*/
 .dropdown {
  position: relative;
}
.dropdown-menu {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding-top: 10px;
}

.dropdown-menu li {
  padding: 12px 1px 12px 1px;
  list-style-type: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.hero-text {
  /*position: absolute;
  */
  text-align: center;
  /*z-index: 1;*/
}

.hero-text h1 {
  order: 1;
  /*padding: 20px;*/
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /*max-width: 800px;*/
  margin: 0 auto;
  white-space: nowrap;
  text-align: center;
}

.hero-text h2 {
  padding: 10px;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: 0 auto;
  white-space: nowrap;
}

.hero-text hr {
  border: none;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px 0;
}

#safe-text {
  padding: 0 2%;
}

button {
  margin: 5px;
  font-size: large;
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-button {
  margin: 5px;
  font-size: large;
  padding: 10px 20px;
  border: 2px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.red { color: #e60000; }
.orange { color: #ff8c00; }
.yellow { color: #ffed00; }
.green { color: #008026; }
.blue { color: #0048ba; }
.indigo { color: #6a0dad; }
.violet { color: #e40089; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.top-box {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.safe-sex-list {
  padding: 5%;
  letter-spacing: 0.05em;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 70%;
}

.box-container > * {
  margin: 10px;
  flex-grow: 1;
}

.box {
  width: 20%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 30px;
  position: relative;
  transition: border-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 300px;
}

.box#std_page {
  text-align: left;
  align-items: flex-start;
}

.box:nth-child(9) {
  border: 1px solid #000000; /* Black */
}

.box:nth-child(8) {
  border: 1px solid #ff00ff; /* Magenta */
}

.box:nth-child(7) {
  border: 1px solid #8b00ff; /* Purple */
}

.box:nth-child(6) {
  border: 1px solid #0000ff; /* Blue */
}

.box:nth-child(5) {
  border: 1px solid #00ffff; /* Cyan */
}

.box:nth-child(4) {
  border: 1px solid #00ff00; /* Green */
}

.box:nth-child(3) {
  border: 1px solid #ffd500; /* Yellow */
}

.box:nth-child(2) {
  border: 1px solid #ff8b00; /* Orange */
}

.box:nth-child(1) {
  border: 1px solid #e70808; /* Red */
}

.box:hover {
  border-color: #ccc; /* Grey */
}

.box h3 {
  margin-top: 0;
}

.box p {
  margin-bottom: 10px;
  text-align: left;
}

.box a {
  display: inline-block;
  margin-top: 20px;
  position: relative;
}

.box a:hover {
  filter: brightness(1.2);
}

.box .box-top-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.box a img {
  width: 200px;
  height: 95px;
  transition: opacity 0.3s ease-in-out;
}

.box a .hover-image {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}

.box a:hover img:not(.hover-image) {
  opacity: 0;
}

.box a:hover .hover-image {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

#quiz-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#question, #recommendation, #score {
  font-size: 24px;
  margin-bottom: 10px;
}

#button-container {
  display: flex;
  justify-content: center;
}

#yes, #no {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 0 0 transparent;
}

#yes {
  background-color: #137DC5;
  color: white;
}

#no {
  background-color: #ff8c00;
  color: white;
}

#yes:hover, #no:hover {
  background-color: #ffed00;
  color: #333;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}

#button-container {
  display: flex;
  justify-content: center;
}

/* Team page styles */
.about-us {
  font-size: 200%;
  padding: 1% 5%;
  letter-spacing: 0.08rem;
}

.about-us .hero-section {
  height: 300px;
}

.about-us p {
  margin-bottom: 10%;
}

.box a {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 180%;
  margin: 4px 2px;
  border-radius: 10px;
}

.team-pic {
  border-radius: 50%;
  margin: 4% 1%;
  filter: brightness(0.7);
}

.team-pic:hover {
  filter: brightness(0.9);
}

/* Footer styles */
footer {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 -4px 10px -4px rgba(0, 0, 0, 0.1);
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  /*display: flex;
  justify-content: space-between;
  align-items: center;*/
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0 5%;
  display: flex;
}

.footer-menu-list li {
  margin-left: 20px;
}

.footer-menu-list li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.footer-menu-list li a:hover,
.socialmedia-icons i:hover {
  color: #137DC5;
}

.copyright {
  color: #666;
  font-size: 14px;
  text-align: center;
  padding-top: 1%;
}

.socialmedia-icons {
  display: flex;
  flex-flow: row-wrap;
  list-style-type: none;
  justify-content: center;
  padding: 1% 8% 1% 4%;
}

.socialmedia-icons a {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
  margin: 4px 2px;
}



/* Media query for small screens */
@media (max-width: 768px) {

  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 80px; /* Position below the toggle */
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .nav-menu-list li {
    margin: 10px 0;
  }

  .nav-toggle-label {
    display: block;
    position: relative;
    z-index: 2;
    font-size: 24px;
    cursor: pointer;
  }

  #nav-toggle:checked ~ .nav-menu {
    display: flex;
  }

.hero-section {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.hero-text {
  position: absolute;
  z-index: 1;
}

.hero-text h1 {
  padding: 20px;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: 0 auto;
}

.hero-text h2 {
  padding: 20px;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  margin: 0 auto;
  white-space: wrap;
}

.red { color: #e60000; }
.orange { color: #ff8c00; }
.yellow { color: #ffed00; }
.green { color: #008026; }
.blue { color: #0048ba; }
.indigo { color: #6a0dad; }
.violet { color: #e40089; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.top-box {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
  
  .box {
    width: 100%;
  }
  
  .hero-section {
    height: 500px;
    flex-direction: row;
    padding: 0;
  }

  .hero-image {
    order: 0;
    max-width: 50%;
  }

  .hero-text {
    order: 0;
  }

  .hero-text h1 {
    font-size: 2rem;
    margin: 0 auto;
    white-space: wrap;
  }
 
}

/* Media query for desktops */
@media (min-width: 1200px) {
  .box-container {
    display: flex, flex-wrap, wrap;
  }

  .box {
    flex-basis: 25%;
  }

  #ind-top {
    display: flex;
  }
}